<footer class="row darken full">
  <section class="column size1of2">
  </section>
  <section class="column size1of2 right">
    <div class="panel">
      <p class="sans no-margin alignright">&copy; <%= Date.today.year %> Mister Machine, LLC</p>
    </div>
  </section>
</footer>