<footer>
  <div class="row">
    <div class="large-4 columns text-center">
      &copy; <%= Date.today.year %> Mister Machine, LLC
    </div>
    <div class="large-4 columns text-center">
      <figure class="round">
        <img data-interchange="[http://placehold.it/150x150, (default)], [http://placehold.it/250x250, (large)]">
      </figure>
    </div>
    <div class="large-4 columns text-center">
      All Rights Reserved
    </div>
  </div>
</footer>