<header id="control" class="control row full ease">
  <%= link_to 'Workweek', root_path, class: "logo", title: "Return home" %>
  <a href="#" data-reveal-id="model-invite" data-reveal>Request Invite</a>
</header>