<section>
  <div class="row text-center">
    <header>
      <h1>Done</h1>
    </header>
  </div>
  <div class="row text-center">
    <h2>One day at a time.</h2>
  </div>
</section>

<section>
  <figure class="row text-center">
    <img data-interchange="[http://placehold.it/350x150, (default)], [http://placehold.it/650x250, (medium)], [http://placehold.it/1100x350, (large)]">
  </figure>
</section>

<section>
  <div class="row text-center">
    <div class="medium-4 large-4 columns">
      <a title="" href="#p-daily">
        <figure class="round">
          <img data-interchange="[http://placehold.it/100x100, (default)], [http://placehold.it/200x200, (medium)], [http://placehold.it/400x400, (large)]">
        </figure>
        <h3>Daily</h3>
        <p>Focus your attension</p>
      </a>
    </div>
    <div class="medium-4 large-4 columns">
      <a title="" href="#p-team">
        <figure class="round">
          <img data-interchange="[http://placehold.it/100x100, (default)], [http://placehold.it/200x200, (medium)], [http://placehold.it/400x400, (large)]">
        </figure>
        <h3>Team</h3>
        <p>Work together</p>
      </a>
    </div>
    <div class="medium-4 large-4 columns">
      <a title="" href="#p-action">
        <figure class="round">
          <img data-interchange="[http://placehold.it/100x100, (default)], [http://placehold.it/200x200, (medium)], [http://placehold.it/400x400, (large)]">
        </figure>
        <h3>Action</h3>
        <p>Eliminate distractions</p>
      </a>
    </div>
  </div> 
</section>

<section>
  <div class="row text-center">
    <div class="large-3 columns">
      <p>Monday</p>
    </div>
    <div class="large-2 columns">
      <p>Tuesday</p>
    </div>
    <div class="large-2 columns">
      <p>Wednesday</p>
    </div>
    <div class="large-2 columns">
      <p>Thursday</p>
    </div>
    <div class="large-3 columns">
      <p>Friday</p>
    </div>
  </div>
</section>

<section>
  <div class="row text-center">
    <ul class="menu-items bullets center">
      <li><p>Send invoice to Ben</p></li>
      <li><p>Take a walk</p></li>
      <li><p>Sketch prototype with Michael</p></li>
    </ul>
  </div> 
</section>

<section id="p-daily">
  <div class="row">
    <div class="medium-6 large-5 columns">
      <figure></figure>
    </div>
    <div class="medium-6 large-7 columns">
      <h3>Daily</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
  </div>
</section>

<section id="p-team">
  <div class="row">
    <div class="medium-6 large-7 columns">
      <h3>Team</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
    <div class="medium-6 large-5 columns">
      <figure></figure>
    </div>
  </div>
</section>

<section id="p-action">
  <div class="row">
    <div class="medium-6 large-5 columns">
      <figure></figure>
    </div>
    <div class="medium-6 large-7 columns">
      <h3>Action</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
  </div>
</section>

<section>
  <div class="row text-center">
    <a href="#" data-reveal-id="model-invite" data-reveal>Request An Invite</a>
  </div>
</section>

<section>
  <div class="row text-center">
    <h2>Are you ready to</h2>
  </div>
  <div class="row text-center">
    <header>
      <h1>Start</h1>
    </header>
  </div>
</section>