<section>
  <div class="row">
    <header>
      <h1>Done</h1>
    </header>
    <h2>One day at a time.</h2>
  </div>
</section>

<section class="secondary show-medium">
  <div class="row">
    <ul class="menu-items bullets center">
      <li class="column size1of3">
        <a title="" href="#p-daily">
          <figure class="round"><img src="img/icon-plan.png" /></figure>
          <h3>Daily</h3>
          <p>Focus your attension</p>
        </a>
      </li>
      <li class="column size1of3">
        <a title="" href="#p-team">
          <figure class="round"><img src="img/icon-build.png" /></figure>
          <h3>Team</h3>
          <p>Work together</p>
        </a>
      </li>
      <li class="column size1of3">
        <a title="" href="#p-action">
          <figure class="round"><img src="img/icon-learn.png" /></figure>
          <h3>Action</h3>
          <p>Eliminate distractions</p>
        </a>
      </li>
    </ul>
  </div> 
</section>

<section class="secondary show-medium">
  <div class="row">
    <ul class="menu-items bullets center">
      <li class="column size1of5"><p>Monday</p></li>
      <li class="column size1of5"><p>Tuesday</p></li>
      <li class="column size1of5"><p>Wednesday</p></li>
      <li class="column size1of5"><p>Thursday</p></li>
      <li class="column size1of5"><p>Friday</p></li>
    </ul>
  </div>

  <div class="row">
    <ul class="menu-items bullets center">
      <li class="column"><p>Send invoice to Ben</p></li>
      <li class="column"><p>Take a walk</p></li>
      <li class="column"><p>Sketch prototype with Michael</p></li>
    </ul>
  </div> 

</section>

<section id="p-daily" class="secondary show-medium">
  <div class="row">
    <div class="column size1of2">
      <figure></figure>
    </div>
    <div class="column size1of2">
      <h3>Daily</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
  </div>
</section>

<section id="p-team" class="secondary show-medium">
  <div class="row">
    <div class="column size1of2">
      <h3>Team</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
    <div class="column size1of2">
      <figure></figure>
    </div>
  </div>
</section>

<section id="p-action" class="secondary show-medium">
  <div class="row">
    <div class="column size1of2">
      <figure></figure>
    </div>
    <div class="column size1of2">
      <h3>Action</h3>
      <p>Ut culpa high life qui whatever. Aute nostrud nihil next level tofu, id readymade wes anderson ut hoodie.</p>
    </div>
  </div>
</section>